/* Gebruikt gemaakt van css-tricks
https://css-tricks.com/snippets/css/a-guide-to-flexbox/ 
Veel gebruikt gemaakt van Stackoverflow, gewoon lekker zoeken*/

*,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial", Helvetica, sans-serif;
}

body {
  display: relative;
}

.stuckNav {
  background-color: rgba(0, 0, 0, .98);
  height: 100%;
  color: white;
  z-index: 11;
  position: relative;
  height: 4em;
}

.stuckNav ul {
  height: 100%;
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  padding: 0 2em 0 2em;
  align-items: center;
  font-size: 1em;
}

.stuckNav ul .noHamburger button {
  padding: 0.5em 1em 0.5em 1em;
  color: white;
  background: none;
  border: none;
  font-size: 1em;
  outline: none;
}

.stuckNav>ul>.noHamburger>button:focus {
  border: 0.5px solid white;
  scale: 1.2;
  transition: 1s;
}

.stuckNav>ul>.noHamburger>button:hover {
  text-decoration: underline;
}

.stuckNav>ul>.noHamburger>button:active {
  text-decoration: underline;
}

.hamburgerMenu>li,
.noHamburger {
  cursor: pointer;
}

.hamburgerMenu>li:focus {
  cursor: pointer;
  scale: 1.2;
  transition: 1s;

}

.hamburger {
  display: block;
  width: 1em;
  height: .1em;
  background-color: white;
  margin: .4em;
}

.fullHamburger {
  cursor: pointer;
}

.hamburgerMenu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .95);
  display: flex;
  list-style-type: none;
  flex-direction: column;
  transform: translateY(-100%);
  transition: transform 0.2s linear;
  transition-delay: .2s;
}

.hamburgerShow {
  transform: translateY(0%);
}

.hamburgerMenu>.buttonMenu>input {
  padding: .5em;
  margin: 1em;
  border: 1px solid grey;
  border-radius: 25px;
  font-size: 1em;
  background-color: #6e6e73;
  min-width: 15em;
  max-width: 30em;
}

.hamburgerMenu>li {
  border-bottom: 1px solid white;
  margin: 0 1em 0 1em;
  outline: none;
  padding: 0.4em;
}

.hamburgerMenu>li>button {
  padding: 1em;
  color: white;
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}

.hamburgerMenu>li>button:focus {
  scale: 1.3;
  transition: 1s;
  border: 1px solid white;
}

.hamburgerMenu>li>button>a:hover {
  text-decoration: underline;
}

.hamburgerMenu>.buttonMenu>button {
  padding: .5em;
  margin: 1em 4em 1em 4em;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 30vw;
  max-width: 20em;
  outline: none;
}

.hamburgerMenu>.buttonMenu>button:focus {
  scale: 1.3;
  transition: 1s;
}

.hamburgerMenu>.buttonMenu>button:hover {
  text-decoration: underline;
  border: 1px solid black;
}

.hamburgerMenu>.buttonMenu {
  display: flex;
  justify-content: center;
}

.none {
  display: none;
}

.fixedNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgba(29, 29, 31, 0.9);
  height: 4em;
  width: 100%;
  z-index: 10;
}

.fixedWrapper {
  flex-grow: 1;
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.fixedNav h1 {
  font-size: 1.2em;
  text-transform: uppercase;
}

.fixedNav button {
  text-decoration: none;
  background-color: #0071e3;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 25px;
  padding-left: .8em;
  padding-right: .8em;
  padding-top: .5em;
  padding-bottom: .5em;

}

.fixedNav button a {
  text-decoration: none;

}

.fixedNav button:focus {
  scale: 1.5;
  transition: 1s;
  border: none;
  outline: none;
}

.fixedNav button:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  background-color: black;
  min-width: 320px;
}

/* -----Fixed header----- */

.sticky {
  top: 0;
  position: fixed;
  width: 100%;
}

.sticky+.pageWrapper {
  padding-top: 4em;
}

/* ---------------------- */

.pageWrapper {
  top: -10em;
  max-width: 100%;
  margin-bottom: 2em;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: -8em;
}

.hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: -11em;
  z-index: 2;
}

.hero h1 {
  color: white;
  text-align: center;
  font-size: 1.6em;
}

.hero h2 {
  margin-top: .5em;
  font-size: 4em;
  color: #a1a1a6;
  max-width: 7em;
}

.hero p {
  text-align: center;
  margin-top: .8em;
  margin-left: .2em;
  margin-right: .2em;
  font-size: 1.5em;
  font-weight: 600;
  color: #a1a1a6;
  max-width: 40em;
}

.hero_icon {
  text-align: center;
  margin-top: 2em;
  width: 66px;
  height: 66px;
}

/* https://www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/ */
.hero_image {
  animation: fadeInAnimation 0.8s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hero .whiteText {
  color: white;
  font-weight: 300;
  line-height: 1.2em;
  max-width: 12em;
}

.H1andIcon {
  margin-left: 10vw;
  margin-right: 20vw;
}

.main_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 6em;
  margin-left: 15vw;
  margin-right: 15vw;
}

.m1_icon {
  width: 8em;
}

.main_content h1 {
  margin-top: 0.3em;
  color: white;
  font-size: 2.8em;
  max-width: 15em;
}

.overflowHidden {
  width: 100vw;
}

/* Ik werk hier voor de eerste keer met grid dus ben een beetje aan het spelen. */
.cards {
  margin-top: 4em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  align-items: center;
}

/* - 1 + de 3 opvolgende sections, dus start bij 0 en anders start je bij 1 */
.cards>section:nth-child(-n+3) {
  border-radius: 25px;
  grid-column-start: 1;
  grid-column-end: 5;
  max-width: 90vw;
  margin: auto;
  min-height: 40em;
  width: 100%;
}

.cards section:nth-child(1) {
  background-color: #c6368a;
}

.cards section:nth-child(2) {
  background-color: #031A28;
}

.cards section:nth-child(2)>.cardsTextWrapper {
  color: white;
}

.cards section:nth-child(2)>.cardsTextWrapper>h3 {
  padding-bottom: 1em;
}

.cards section:nth-child(2)>.cardsTextWrapper>h1 {
  max-width: 12em;
}

.cards section:nth-child(2)>.cardsTextWrapper>p {
  margin-top: 1.5em;
  max-width: 30em;
  font-weight: bold;
  font-size: 1.1em;
}

.cards section:nth-child(2)>.cardsTextWrapper>button {
  margin-top: 2em;
  padding: .8em 1.5em .8em 1.5em;
  color: white;
  border: 2px solid white;
  border-radius: 40px;
  background: none;
  font-weight: bold;
  margin-bottom: 2em;
}

.cards section:nth-child(3) {
  background-color: #590a0d;
  color: white;
}

.cards section:nth-child(3)>.cardsTextWrapper>h3 {
  margin-bottom: 1.3em;
}

.cards section:nth-child(3)>.cardsTextWrapper>p {
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 4em;
}

.cards section:nth-child(3)>.cardsTextWrapper>h1 {
  margin-top: 1em;
  margin-bottom: 2em;
}

.two_cards,
.two_not_even_cards {
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
}

.compact_ontwerp>.app_image {
  display: block;
  left: 50%;
}

.two_cards section:nth-child(-n+2),
.two_not_even_cards section:nth-child(-n+2) {
  border-radius: 25px;
  width: 100%;
  min-height: 50em;
  color: white;
}

.cardsTextWrapper>p {
  font-weight: bold;
}

.snel_systeem p {
  margin-top: 2em;
  max-width: 30em;
}

.veel_apps p {
  max-width: 30em;
}

.compact_ontwerp p {
  max-width: 30em;
  margin-top: 2em;
}

.centraal_geheugen {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.large_p {
  font-size: 2em !important;
  max-width: 20em !important;
}

.two_cards section:nth-child(1) {
  background-color: #CE2877;
}

.cardsTextWrapper {
  padding-left: 4em;
  padding-top: 2em;
}

.cpu>.cardsTextWrapper>h3 {
  color: white;
  font-size: 1.2em;
}

.cpu>.cardsTextWrapper>h2 {
  margin-top: 1em;
  font-size: 3em;
  color: white;
}

.cpu>.cardsTextWrapper>h1 {
  margin-top: .1em;
}

.cpu>.cardsTextWrapper>p {
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 1.5em;
}

.cpu>.cardsTextWrapper>button,
.cards section:nth-child(2)>.cardsTextWrapper>button,
.cards section:nth-child(3)>.cardsTextWrapper>button {
  margin-top: 2em;
  padding: .8em 1.5em .8em 1.5em;
  color: white;
  border: 2px solid white;
  border-radius: 40px;
  background: none;
  font-weight: bold;
  margin-bottom: 2em;
}

.cpu>.cardsTextWrapper>button:focus,
.cards section:nth-child(2)>.cardsTextWrapper>button:focus,
.cards section:nth-child(3)>.cardsTextWrapper>button:focus {
  scale: 1.2;
  transition: 1s;
  outline: none;
  margin-left: 2em;
  text-decoration: underline;
}

.cpu>.cardsTextWrapper>button:hover,
.cards section:nth-child(2)>.cardsTextWrapper>button:hover,
.cards section:nth-child(3)>.cardsTextWrapper>button:hover {
  outline: none;
  text-decoration: underline;
}

.two_cards section:nth-child(2) {
  background-color: #354A7F;
}

.two_not_even_cards section:nth-child(1) {
  background-color: #c48cfc;
  width: 70%;
}

.two_not_even_cards section:nth-child(2) {
  background-color: #1d1d1f;
}

footer {
  background-color: #1d1d1f;
  width: 100%;
  height: 100%;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footerCardsWrapper {
  flex-grow: 1;
  width: 90%;
  padding-bottom: 1em;
  border-bottom: 1px solid #424245;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footerCardsWrapper section:nth-child(-n+3) {
  flex-grow: 1;
  max-width: 33%;
  margin: 1em;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.footerCardsWrapper section h4 {
  font-size: 1.2em;
  margin-top: 1em;
  color: white;
  max-width: 80%;
}

.footerCardsWrapper section p {
  color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 80%;
}

.footerCardsWrapper section button {
  color: #2997ff;
  text-decoration: underline;
  cursor: pointer;
  border: none;
  background: none;
  border: none;
  outline: none;
  font-size: 1em;
}

.footerCardsWrapper section button:focus {
  scale: 1.3;
  transition: 1s;
  border: 1px solid #2997ff;
  padding: 0.5em;
}

.footerCardsWrapper section button:hover {
  border: 1px solid #2997ff;
  text-decoration: none;
}

#bezorging,
#contact,
#persoonlijk {
  align-items: center;
  width: 100%;
  height: 3.5em;
  background-size: 100% 3.5em;
  background-repeat: no-repeat;
  cursor: pointer;
}

#bezorging {
  background-image: url("https://www.apple.com/ac/globalfooter/6/nl_NL/assets/ac-buystrip/shipping/icon_dark_large.svg");
}

#contact {
  background-image: url("https://www.apple.com/ac/globalfooter/6/nl_NL/assets/ac-buystrip/help/icon_dark_large.svg");
}

#persoonlijk {
  background-image: url("https://www.apple.com/ac/globalfooter/6/nl_NL/assets/ac-buystrip/personal_setup/icon_dark_large.svg");
}

.bottomWrapper {
  padding-top: 1em;
  width: 90%;
  display: flex;
  margin: 1em;
  flex-grow: 1;
}

.bottomWrapper p {
  color: #424245;
  text-align: center;
}

/* Tweede pagina */

.pageWrapper_Tweedepagina {
  background-color: white;
}

.promocontent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  color: #333;
  padding: 1em;
}

.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
  font-size: 1.2em;
  text-align: center;
}

.intro>h2 {
  padding-top: 2em;
  text-align: center;
}

.macmini_container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

.macmini_container>section:nth-child(-n+3) {
  max-width: 60vw;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #d6d6d6;
  text-align: left;
  align-items: center;
}

.macmini_container>section:nth-child(-n+3) h3 {
  color: #ef5602;
  padding-bottom: 1em;
  font-weight: 100;

}

.macmini_container>section:nth-child(-n+3) h2 {
  font-size: 1.3em;
  padding-bottom: 1em;
}

.macmini_container>section:nth-child(-n+3) p {
  padding-bottom: 1.3em;
  color: #333;
  line-height: 2em;
}

.macmini_container>section:nth-child(-n+3) h4 {
  font-size: 2em;
}

.macmini_container>section:nth-child(-n+3) .underprice {
  color: #333;
  line-height: normal;
}

.macmini_container>section:nth-child(-n+3) button {
  background-color: #0070c9;
  background: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #07c;
  max-width: 60vw;
  font-weight: 400;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  padding: 4px 15px;
  outline: none;
  max-width: 100%;
  width: 80vw;
}

.macmini_container>section:nth-child(-n+3) button:hover {
  background-color: #147bcd;
  background: linear-gradient(#51a9ee, #147bcd);
  border-color: #1482d0;
  text-decoration: none;
}

.macmini_container>section:nth-child(-n+3) button:focus{
  background-color: #147bcd;
  background: linear-gradient(#51a9ee, #147bcd);
  border-color: #1482d0;
  text-decoration: none;
  scale: 1.4;
  transition: 1s;
  max-width: 80%;
  text-decoration: underline;
}

.active_hero {
  height: auto;
  width: 226px;
}


/* Media queries */
/* Small: <640px Medium: 641 - 1007px Large: >1008px  */
@media screen and (min-width: 1008px) {

  .main_content h1,
  .cards section:nth-child(2)>.cardsTextWrapper>h1,
  .cards section:nth-child(3)>.cardsTextWrapper>h1 {
    font-size: 5em;
    max-width: 12em;
  }

  .m1_icon {
    width: 12em;
  }

  .cards section:nth-child(2)>.cardsTextWrapper>p,
  .cards section:nth-child(3)>.cardsTextWrapper>p {
    max-width: 30em;
  }



}

@media screen and(max-width: 1008px) {
  .cardsTextWrapper {
    padding-left: .8em;
  }
}


@media screen and (max-width: 641px) {
  .main_content {
    font-size: 0.9em;
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@media screen and (max-width: 1300px) {

  .two_cards,
  .two_not_even_cards {
    flex-direction: column;
  }

  .two_not_even_cards section:nth-child(1) {
    width: 100%;
  }

  .two_cards section:nth-child(-n+2),
  .two_not_even_cards section:nth-child(-n+2) {
    min-height: 40em;
  }
}

@media screen and (min-width: 736px) {
  .fullHamburger {
    display: none;
  }

  .hamburgerMenu {
    display: none;
  }

}

@media screen and (min-width: 820px) {
  .macmini_container>section:nth-child(-n+3) {
    max-width: 30%;
    border: none;
  }

  .macmini_container {
    flex-direction: row;
  }

  .macmini_container>section:nth-child(-n+3) h2 {
    min-height: 6em;
  }

  .details_info {
    min-height: 10em;
  }
}

@media screen and (max-width: 500px) {
  .main_content {
    margin-left: 0;
    margin-right: 0;
  }

  .cards>section:nth-child(-n+3) {
    max-width: 100vw;
    border-radius: 0px;
  }

  .two_cards section:nth-child(-n+2),
  .two_not_even_cards section:nth-child(-n+2) {
    border-radius: 0px;
  }
}

@media screen and (max-width: 736px) {
  .overflowHidden {
    width: 100vw;
  }

  .hero_content {
    margin-top: -4em;
  }

  .main_content h1 {
    font-size: 2.5em;
  }

  .stuckNav,
  .fixedNav {
    height: 3em;
  }

  .sticky+.pageWrapper {
    padding-top: 3em;
  }

  .footerCardsWrapper {
    flex-direction: column;
    width: 100%;
  }

  .footerCardsWrapper section:nth-child(-n+3) {
    max-width: 80%;
  }

  .noHamburger {
    display: none;
  }
}

@media screen and (min-width: 420px) {
  .hero_content {
    margin-top: -6em;
  }
}

@media screen and (min-width: 530px) {
  .hero_content {
    margin-top: -8em;
  }

  .cpu>.cardsTextWrapper>p {
    max-width: 30em;
  }
}

@media screen and (min-width: 690px) {
  .hero_content {
    margin-top: -6em;
  }
}